<launch>

    <!-- Run kinectv2 node -->
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />


    <!-- Run icp_mapper node -->
    <node name="ssh_object_identification" pkg="ssh_object_identification" type="ssh_object_identification" output="screen" />


    <!-- Run rviz node -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ssh_object_identification)/config/ssh_project.rviz" />

</launch>

